
$color-pallet:(
    "primary":#ef9a9a,
    "PDark": #ba6b6c,
    "PLight":#ffcccb,
    "amber":#fff8e1,
    "success":rgb(68, 178, 110),
    "fail":#d1484a,
    "successGradient":linear-gradient(90deg, rgba(51,131,130,1) 0%, rgba(148,255,85,1) 40%, rgba(151,255,90,1) 72%, rgba(255,255,255,1) 100%),

);

$primary:#ef9a9a;
$PDark: #ba6b6c;
$PLight:#ffcccb;
$amber:#fff8e1;
$success:rgb(68, 178, 110);
$successGradient:linear-gradient(90deg, rgba(51,131,130,1) 0%, rgba(148,255,85,1) 40%, rgba(151,255,90,1) 72%, rgba(255,255,255,1) 100%);
$fail:#d1484a,

//rgb(238, 238, 238)
