 
 @font-face {
    font-family: "koodak";
    src:url("../Fonts/koodak.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    //background-color: #6c4eb8;
}


@font-face {
  font-family: "SansWeb";
  src:url("../Fonts/IRANSansWeb\(FaNum\).ttf") format("ttf"),
  url("../Fonts/IRANSansWeb\(FaNum\).woff") format("woff"),
  url("../Fonts/IRANSansWeb\(FaNum\).woff2") format("woff");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
  //background-color: #6c4eb8;
}

.succsess {
    color: green;
    font-size: 30px;
    margin: 0 auto;
  }
  
  .succsess::before {
    content: '\2714 موفقیت : ';
    color: green;
  }
  
  .failer {
    color: red;
    font-size: 30px;
    margin: 0 auto;
  }
  
  .failer::before {
    content: '\2717 شکست : ';
    color: red;
  }