$color-pallet:(
    "primary":#ef9a9a,
    "PDark": #ba6b6c,
    "PLight":#ffcccb,
    "amber":#fff8e1,
    // "PDark": #ba6b6c57,
);

$primary:#ef9a9a;
$PDark: #ba6b6c;
$PLight:#ffcccb;
$amber:#fff8e1,